In [2]:
import numpy as np
import pandas as pd

In [39]:
movies = pd.read_csv(r"G:\Movie_Recommendation_System\Raw_Dataset\tmdb_5000_movies.csv")
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [44]:
movies.shape

(4803, 20)

In [40]:
credits = pd.read_csv(r"G:\Movie_Recommendation_System\Raw_Dataset\tmdb_5000_credits.csv")
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [45]:
credits.shape

(4803, 4)

In [42]:
data = pd.merge(movies, credits, on="title")
data.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1035,46000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.startrek.com/startrek/view/series/M...,199,"[{""id"": 503, ""name"": ""federation""}, {""id"": 505...",en,Star Trek: First Contact,"The Borg, a relentless race of cyborgs, are on...",25.671300,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Resistance is futile.,Star Trek: First Contact,7.0,661,199,"[{""cast_id"": 19, ""character"": ""Captain Jean-Lu...","[{""credit_id"": ""537491aec3a368150f002753"", ""de..."
2195,19500000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://secretintheireyes.movie/,290751,"[{""id"": 1812, ""name"": ""fbi""}, {""id"": 156948, ""...",en,Secret in Their Eyes,"A tight-knit team of FBI investigators, along ...",15.012237,"[{""name"": ""Ingenious Media"", ""id"": 290}, {""nam...",...,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The truth lies in the most unexpected places.,Secret in Their Eyes,6.2,336,290751,"[{""cast_id"": 1, ""character"": ""Ray"", ""credit_id...","[{""credit_id"": ""563f5d70c3a3681b4b02bc63"", ""de..."

In [43]:
data.shape

(4809, 23)

In [46]:
data.isna().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [61]:
df = data.drop(columns=['budget','homepage','original_language','original_title','production_companies','revenue',
                        'runtime','spoken_languages','status','tagline','movie_id','production_countries','release_date'])

df.sample(2)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
3945,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",670,"[{""id"": 3364, ""name"": ""sushi restaurant""}, {""i...","With no clue how he came to be imprisoned, dru...",56.763490,Oldboy,8.0,1945,"[{""cast_id"": 13, ""character"": ""Oh Dae-su"", ""cr...","[{""credit_id"": ""52fe4267c3a36847f801bd35"", ""de..."
3928,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",7509,"[{""id"": 2628, ""name"": ""site of pilgrimage""}, {...",The film examines the plight of a group of wid...,2.787375,Water,6.8,34,"[{""cast_id"": 2, ""character"": ""Kalyani"", ""credi...","[{""credit_id"": ""52fe4480c3a36847f8099fe5"", ""de..."

In [62]:
df.shape

(4809, 10)

In [63]:
df.isna().sum()

genres          0
id              0
keywords        0
overview        3
popularity      0
title           0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4809 non-null   object
 1   id            4809 non-null   int64
 2   keywords      4809 non-null   object
 3   overview      4806 non-null   object
 4   popularity    4809 non-null   float64
 5   title         4809 non-null   object
 6   vote_average  4809 non-null   float64
 7   vote_count    4809 non-null   int64
 8   cast          4809 non-null   object
 9   crew          4809 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 375.8+ KB

In [65]:
df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [66]:
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [67]:
df['genres'] = df['genres'].apply(convert)
df['keywords'] = df['keywords'].apply(convert)
df['cast'] = df['cast'].apply(convert)

df.sample()

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
4208,"[Drama, Music]",206284,[christian],A talented young singer and aspiring songwrite...,2.160586,Grace Unplugged,6.0,24,"[AJ Michalka, James Denton, Kevin Pollak, Shaw...","[{""credit_id"": ""52fe4d19c3a368484e1d724d"", ""de..."

In [68]:
df['cast'] = df['cast'].apply(lambda x:x[0:3])
df.sample()

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
3410,"[Comedy, Drama, Family, Music]",13649,"[musical, music, summer, teenager, summer job,...",The East High Wildcats are ready to have the t...,21.01755,High School Musical 2,6.1,843,"[Zac Efron, Vanessa Hudgens, Ashley Tisdale]","[{""credit_id"": ""52fe45879251416c75059a45"", ""de..."

In [69]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L 

df['crew'] = df['crew'].apply(fetch_director)

In [70]:
df.isna().sum()

genres          0
id              0
keywords        0
overview        3
popularity      0
title           0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [71]:
df.sample()

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
4346,"[Horror, Thriller]",93856,"[radiation, ukraine, nuclear radiation, touris...",A group of six tourists looking to go off the ...,20.649145,Chernobyl Diaries,4.9,483,"[Jesse McCartney, Jonathan Sadowski, Olivia Ta...",[Bradley Parker]

In [72]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [73]:
df['cast'] = df['cast'].apply(collapse)
df['crew'] = df['crew'].apply(collapse)
df['genres'] = df['genres'].apply(collapse)
df['keywords'] = df['keywords'].apply(collapse)

df.sample(2)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
4428,"[Drama, Thriller]",52462,[independentfilm],A young woman in dire financial straights acce...,1.284741,The Pet,5.3,3,"[PierreDulat, AndreaEdmondson, SummerNguyen]",[D.Stevens]
2634,"[Thriller, Crime, Mystery]",6687,"[china, marriedcouple, backpacker, firearm, po...",A Trans-Siberian train journey from China to M...,11.428903,Transsiberian,6.5,195,"[WoodyHarrelson, EmilyMortimer, KateMara]",[BradAnderson]

In [77]:
df.head(1)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [80]:
df['overview'] = df['overview'].apply(lambda x: str(x).split() if pd.notnull(x) else [])
df.sample()

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
1438,[Comedy],35169,"[bear, animal, aftercreditsstinger, duringcred...","[When, real, estate, developer, Dan, Sanders, ...",13.668633,Furry Vengeance,4.6,149,"[BrendanFraser, KenJeong, BrookeShields]",[RogerKumble]

In [81]:
df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['crew']
df.head(1)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,Avatar,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [82]:
dataset = df.drop(columns=['overview','genres','keywords','cast','crew'])
dataset.head()

,id,popularity,title,vote_average,vote_count,tags
0,19995,150.437577,Avatar,7.2,11800,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,139.082615,Pirates of the Caribbean: At World's End,6.9,4500,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,107.376788,Spectre,6.3,4466,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,112.312950,The Dark Knight Rises,7.6,9106,"[Following, the, death, of, District, Attorney..."
4,49529,43.926995,John Carter,6.1,2124,"[John, Carter, is, a, war-weary,, former, mili..."

In [83]:
dataset['tags'] = dataset['tags'].apply(lambda x: " ".join(x))
dataset.head()

,id,popularity,title,vote_average,vote_count,tags
0,19995,150.437577,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di..."
1,285,139.082615,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha..."
2,206647,107.376788,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...
3,49026,112.312950,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...
4,49529,43.926995,John Carter,6.1,2124,"John Carter is a war-weary, former military ca..."

In [84]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [85]:
vector = cv.fit_transform(dataset['tags']).toarray()
vector.shape

(4809, 5000)

In [86]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.08858079, 0.05905386, ..., 0.02478408, 0.02599376,
        0.        ],
       [0.08858079, 1.        , 0.06451613, ..., 0.02707652, 0.        ,
        0.        ],
       [0.05905386, 0.06451613, 1.        , ..., 0.02707652, 0.        ,
        0.        ],
       ...,
       [0.02478408, 0.02707652, 0.02707652, ..., 1.        , 0.07150969,
        0.04828045],
       [0.02599376, 0.        , 0.        , ..., 0.07150969, 1.        ,
        0.05063697],
       [0.        , 0.        , 0.        , ..., 0.04828045, 0.05063697,
        1.        ]])

In [87]:
def recommend(movie):
    index = dataset[dataset['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(dataset.iloc[i[0]].title)

In [89]:
dataset.sample()

,id,popularity,title,vote_average,vote_count,tags
4593,18045,1.428483,The Dark Hours,5.5,22,"Dr. Samantha Goodman is a beautiful, young psy..."

In [90]:
recommend('Gandhi')

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan

In [91]:
import pickle
pickle.dump(dataset,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [92]:
sorted_df = dataset.sort_values(by=['popularity', 'vote_average', 'vote_count'], ascending=False)
sorted_df

,id,popularity,title,vote_average,vote_count,tags
546,211672,875.581305,Minions,6.4,4571,"Minions Stuart, Kevin and Bob are recruited by..."
95,157336,724.247784,Interstellar,8.1,10867,Interstellar chronicles the adventures of a gr...
788,293660,514.569956,Deadpool,7.4,10995,Deadpool tells the origin story of former Spec...
94,118340,481.098624,Guardians of the Galaxy,7.9,9742,"Light years from Earth, 26 years after being a..."
127,76341,434.278564,Mad Max: Fury Road,7.2,9427,An apocalyptic story set in the furthest reach...
...,...,...,...,...,...,...
4631,426067,0.001389,Midnight Cabaret,0.0,0,A Broadway producer puts on a play with a Devi...
4123,325140,0.001186,Hum To Mohabbat Karega,0.0,0,"Raju, a waiter, is in love with the famous TV ..."
4733,65448,0.001117,Penitentiary,4.9,8,A hitchhiker named Martel Gordone gets in a fi...
3364,77156,0.000372,Alien Zone,4.0,3,A man who is having an affair with a married w...
4559,380097,0.000000,America Is Still the Place,0.0,0,1971 post civil rights San Francisco seemed li...

In [94]:
pickle.dump(sorted_df,open('Popularity.pkl','wb'))